/* Editor modal */
@value background_dark from './colors.css';

.wrapper {
  align-items: flex-start;
  background-color: rgba(20, 20, 20, 0.8);
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 180px;
  right: 0;
  z-index: 40;
}

.content {
  background-color: background_dark;
  box-sizing: border-box;
  cursor: auto;
  height: 96%;
  padding: 50px;
  width: 96%;
  max-width: 1000px;
  position: relative;
  margin-top: 2vh;
}

.closeBtn {
  position: absolute;
  top: 15px;
  right: 15px;
  color: #fff;
  font-size: 3rem;
  line-height: 0.5;
  cursor: pointer;
}

@media (max-width: 800px) {
  .wrapper {
    left: 0;
  }

  .content {
    margin: 0;
    padding: 20px;
    height: 100%;
    width: 100%;
  }
}

.fullscreen.wrapper {
  left: 0;
}

.fullscreen.content {
  margin: 0;
  padding: 20px;
  height: 100%;
  width: 100%;
  max-width: unset;
}
