@value wagtail_darkest_green from './colors.css';
@value search_border 1px dotted wagtail_darkest_green;

.searchResultList {
    display: flex;
    flex-wrap: wrap;
    margin: 1rem 0 1rem 0;
    border-bottom: search_border;
    border-right: search_border;
    border-radius: 3px;
}


.searchResult:hover {
    opacity: 0.6;
}

.searchResult {
    width: 25%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    border-left: search_border;
    border-top: search_border;
    padding: 0.5rem;
    border-radius: 3px;
}

.searchResult .image {
    height: 9vh;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

.searchResult .title {
    height: 1.2rem;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
}

.searching {
    display: inline-block;
    color: #fff;
    margin-left: 1rem;
}
